html{
    font-size: 18px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: #010403;
    color: #a9a9a9;
}
img{
    width: 100%;
}
:root{
    --navbar__header: 60px;
}
.navbar__logo{
    display: none;
}
.navbar_hero{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    background-color: #010403;
    border: 1px solid #1c1616;
}
.navbar_hero nav{
    padding: 0 20px;
    gap: 1.5rem;
    display: flex;
}
.navbar_hero a{
    font-size: 0.7rem;
    text-decoration: none;
    color: #a9a9a9;
    transition: all 0.5s ease-out;
}
.navbar_hero a:hover{
    color: #fff;
}

.box__{
    height: var(--navbar__header);
    width: 100%;
}
.container__all{
    margin-top:calc(20px + var(--navbar__header));
}
.hero_container{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero_img{
    height: 250px;
    width: 250px;
}
.hero_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.hero_info{
    width: 450px;
    text-align: center;

}
.hero_subtittle{
    font-size: 40px;
}
.hero_tittle{

    color: #fff;
    font-size: 50px;
    margin: 1rem 0 0;
}
.hero_social{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem 20px;
}
.hero_social i{
    font-size: 40px;
    color: #a9a9a9;
    transition: all 0.5s ease-out;
}
.hero_social i:hover{
    color: #fff;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}
h3{
    color: #fff;
    font-size: 45px;
}
.aboutme{
    padding: 3rem 20px;
    display: flex;
    flex-direction: column;
}
.aboutme p{
    text-align: center;
}
.skills{
    padding: 3rem 20px;
}
.center__tittle{
    display: flex;
    justify-content: center;
}
.skills_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.skills__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.skills__items i{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1c1616;
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills__items span{
    color: #fff;
}
.experience{
    padding: 2rem 20px;
    align-items: center;
    justify-content: center;
}
.first__experience{
    display: flex;
    justify-content:space-between;
}
.first__experience p{
    margin-right: 50px;

}
.first__experience div{
    padding-left: auto;

}
.corporation{
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}
.position{
    color: #fff;
}
.portafolio{
    padding: 2rem 20px;
}
.Porta__container{
    display: flex;
}
.img__porta{
    margin: 0 1rem;
}
.img__porta img{
    height: 250px;
    width: 350px;
}
.contacto{
    padding: 2rem 20px;

}
.contact__container{
    display: grid;
    grid-template-columns: repeat(3 , 2fr);

}
.contact{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0 0 1rem 0;
    margin: 20px;
}
.contact i{
    width: 100px;
    height: 100px;
    border-radius: 45%;
    border: 2px solid #a9a9a9;
    background-color:#010403;
    color:#a9a9a9;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}
.contact a{
    text-decoration: none;
}
.contact i:hover{
    color: #fff;
}

.copyrigt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px){
    html{
        font-size: 16px;
    }
    :root{
        --navbar__header: 20px;
    }
    .box__{
        justify-content: flex-start;
    }
    .navbar_hero{
            position: fixed;
            width: 100%;
            height: 60px;
            display: flex;
            /* flex-direction: column; */
            z-index: 2;
            /* justify-content: flex-start; */
            background: none;
            border: none;
            align-items: center;
    }
    .navbar__logo{
        margin-left: auto;
    }
    .nav__interior.active {
        right: 0;
    }
    .nav__interior{
        justify-content: center;
        position: absolute;
        top: 60px;
        right: -100%;
        background: #0d0a0a;
        border-radius: 10px;
        padding: 3rem 20px;
        width: 45vw;
        height: 80vh;
        transition: .5s ease-in-out;
    }
    .menu__responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .navbar__logo{
        display: block;
        width: 50px;
        
    }
    .navbar__logo button{
        background-color:#010403;
    }
    .navbar__logo i{
        font-size: 25px;
        color: #a9a9a9;
    }
    .hero_info{
        padding: 0 40px;
    }
    .hero_img{
        height: 170px;
        width: 170px;
    }
    .hero_subtittle{
        font-size: clamp(20px, 2.5vw, 25px);
    }
    .hero_tittle{
        color: #fff;
        font-size: clamp(35px, 2.5vw, 40px);
        margin: 1rem 0 0;
    }
    h3{
        font-size: 35px;
    }
    .skills__items i{
        width: 80px;
        height: 80pxx;
        border-radius: 50%;
        background-color: #1c1616;
        color: #fff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .center__tittle{
        display: flex;
        justify-content: center;
    }
    .center__tittle{
        display: flex;
        justify-content:flex-start;
    }
    .first__experience{
        display: flex;
        justify-content:space-between;
        padding: 0 140px 0 0;
        font-size: 16px;
    }
    .corporation{
        display: flex;
        flex-direction: column;
        padding: 0 100px 0 0;
    }
    .aboutme p{
        font-size: 16px;
    }
    .skills__items span{
        font-size: 16px;
    }
    .Porta__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img__porta{
        margin: 1rem 0;
    }
    .img__porta img{
        width: 700px;
        height: 400px;
    }
    .small{
        font-size: 16px;
    }
    .contact{
        align-items: center;
        text-align: center;
        margin: 0px;
    }
    .contact span{
        font-size: clamp(9px, 2.5vw, 16px);
    }
    .contacto{
        padding: 2rem 10px;
    
    }
}
